*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 100px;
    height: 100px;
    background-color: pink;
    position: absolute;
    top: 20%;
    left: 30%;
    /* transition: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-timing-function: ease-in;
    transition-delay: 1s; */
    transition: all 1s ease 1s;
    /* transform: rotate(45deg); */
    /* transform: scaley(2); */
    /* transform: skew(40deg); */
}
div:hover{
    background-color: yellow;
    border: 2px solid red;
    font-size: 20px;
    border-radius: 50%;
    color: rgb(8, 185, 8);
    transform: rotate(-360deg);
     /* transform: rotate(360deg); */
      /* transform: scale(2); */
      transform: skew(40deg);
}